body {
    background: linear-gradient(to bottom, #3ab7fe 0%,#2866fe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ReactTable {
    background-color: #f6f5f2;
}
.chapter .details  {
    margin-top: 40px;
    transform: rotate(-45deg); /* Equal to rotateZ(45deg) */
}
.chapter .title{
    font-size: 18px;
    font-weight: bold;
    color: #4689fc;
}

.chapter .date{
    color: #a2a19f;
    margin-bottom: 30px;
}

.chapter .average{
    font-size:30px;
    color: #26c132;
    background-color:white;
    padding: 10px;
    display: inline-block;
    font-weight:bold;
}

.name .first {
    font-size: 18px;
    font-weight: bold;
    color: #4689fc;
}
.name .last {
    color: #a2a19f;
}


.grade {
    text-align: center
}

.grade .grade-text {
    font-size:20px;
    color: #26c132;
    background-color:white;
    padding: 10px;
    display: inline-block;
    font-weight:bold;
}

.grade .average {
    font-size:20px;
    color: #26c132;
}